@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
 

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: 'Nunito', sans-serif;

  --primary-color: oklch(45.3% 0.124 130.933);
  --secondary-color: oklch(66.6% 0.179 58.318);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  
  }
}


body {
 
  font-family: nunito;
 
}



